<!DOCTYPE HTML>
<html>
<head>
    <meta charset = "UTF-8">
    <title>关于我们</title>
    <script src = "javascripts/Real3d.js"></script>
</head>

<body>        
   关于我们 
   <script type="text/javascript">
   REAL3D.Framework.init();
   REAL3D.Framework.run();
   </script>
</body>
</html>
