<!DOCTYPE HTML>
<html>
<head>
    <meta charset = "UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/LogReg.css">
</head>

<body>        
  <div class="centerleft">
    <div class="centerright">
      <div class="maincontainer">
        <div class="menubar">
          <img class="logo" src="/images/logo.jpg">
          <a class="menuitem" href="/">主页</a>
          <a class="menuitem" href="/doreg">新用户注册</a>
        </div>
        <div class="mainbody">
          <div class="title">登 陆</div>
          <form action="/dologin" method="post">
            用户名:<input class="usertext" type="text" id="username" name="username">
            密 码:<input class="usertext" type="text" id="password" name="password">
            <br>
            <button class="submitbutton" type="submit">登录</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>



