<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/LogReg.css">
</head>

<body>        
    <div class="centerleft">
        <div class="centerright">
            <div class="maincontainer">
                <div class="menubar">
                    <img class="logo" src="/images/logo.jpg">
                    <a class="menuitem" href="/">主页</a>
                    <a class="menuitem" href="/dologin">老用户登陆</a>
                </div>
                <div class="mainbody">
                    <div class="title">注 册</div>
                    <form action="/doreg" method="post">
                        用户名:<input class="usertext" type="text" id="username" name="username">
                        密 码:<input class="usertext" type="text" id="password" name="password">
                        <br>
                        <button class="submitbutton" type="submit">注册</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


