<!DOCTYPE HTML>
<html>
<head>
    <meta charset = "UTF-8">
    <title>Magic3D</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
</head>

<body>
    <div class="centerleft">
	<div class="centerright">
	    <div class="maincontainer">
		<div class="menubar">
    		    <img class="logo" src="/images/logo.jpg">
    		    <a class="menuitem" href="/aboutus">关于我们</a>
    		    <a class="menuitem" href="/dologin">登陆</a>
		    <a class="menuitem" href="/doreg">注册</a>
		</div>
		<div class="slogen">
		    <div class="slogentext">Magic3D</div>
		    <div class="slogentext">Make Virtual World Real</div>
		</div>
		<div class="app">
		    <div class="appitem">
			<a href="innerspacedesign">
			    <img class="appitemimg" src="/images/InnerSpaceLayoutDesign.jpg">
			</a>
			<div class="appitemtext">室内布局设计</div>
		    </div>
		    <div class="appitem">
			<a href="/furnituredesign">
			    <img class="appitemimg" src="/images/FurnitureDesign.jpg">
			</a>
			<div class="appitemtext">家具设计</div>
		    </div>
		    <div class="appitem">
			<a href="designshow">
			    <img class="appitemimg" src="/images/DesignShow.jpg">
			</a>
			<div class="appitemtext">展览</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</body>
</html>

