<!DOCTYPE HTML>
<html>
<head>
    <meta charset = "UTF-8">
    <title>Magic3D</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
</head>

<body>
    <div class="centerleft">
	<div class="centerright">
	    <div class="maincontainer">
		<div class="menubar">
    		    <img class="logo" src="/images/logo.jpg">
    		    <div id="aboutus" class="menuitem">关于我们</div>
    		    <div id="login" class="menuitem">登陆</div>
		    <div id="registration" class="menuitem">注册</div>
		</div>
		<div class="slogen">
		    <div class="slogentext">Magic3D</div>
		    <div class="slogentext">Make Virtual World Real</div>
		</div>
		<div class="app">
		    <div class="appitem">
			<img class="appitemimg" src="/images/InnerSpaceLayoutDesign.jpg">
			<div class="appitemtext">室内布局设计</div>
		    </div>
		    <div class="appitem">
			<img class="appitemimg" src="/images/FurnitureDesign.jpg">
			<div class="appitemtext">家具设计</div>
		    </div>
		    <div class="appitem">
			<img class="appitemimg" src="/images/DesignShow.jpg">
			<div class="appitemtext">展览</div>
		    </div>
	    </div>
	</div>
    </div>
        
       
</body>
</html>

