<!DOCTYPE HTML>
<html>
<head>
    <meta charset = "UTF-8">
    <title>室内设计</title>
    <link rel = "stylesheet" type="text/css" href="/stylesheets/InnerSpaceDesign.css">
    <script src="/javascripts/jquery-2.1.3.min.js"></script>
    <script src = "/javascripts/InnerSpaceDesign.js"></script>
</head>

<body>
    <div class = "centerleft">
        <div class = "centerright">
            <div class="maincontainer">
                <div class="menubar">
                    <div class="menuitem" onclick="backToPersonalHomePage()">个人主页</div>
                </div>
                <div id="designSet">
                    <div class="designitem" onclick="editDesignItem()">新建</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>