<!DOCTYPE HTML>
<html>
<head>
    <meta charset = "UTF-8">
    <title>室内布局设计</title>
    <link rel = "stylesheet" type="text/css" href="/stylesheets/InnerSpaceDesign.css">
    <script src="/javascripts/three.min.js"></script>
    <script src="/javascripts/jquery-2.1.3.min.js"></script>
    <script src = "/javascripts/Real3d.js"></script>
    <script src = "/javascripts/RenderManager.js"></script>
    <script src = "/javascripts/Publisher.js"></script>
    <script src = "/javascripts/Wall.js"></script>
    <script src = "/javascripts/InnerSpaceDesign.js"></script>
</head>

<body>
	<div class = "centerleft">
		<div class = "centerright">
            <div class="leftContainer">
                <button class="button" onclick = "newWorkSpace()">新建</button>
                <br>
                <button class="button" onclick = "saveWorkSpace()">保存</button>
                <br>
                <button class="button" onclick = "renameWorkSpace()">改名</button>
                <br>
                <button class="button" onclick = "backToHome()">返回</button>
            </div>
            <div class="mainContainer">
                <div id = "designspace" onselectstart="return false"></div>
            </div>
		</div>
	</div>
	<script>
	REAL3D.Framework.init();
    REAL3D.Framework.run();
    enterInnerSpaceDesignState("designspace");
	</script>
</body>
</html>



