<!DOCTYPE HTML>
<html>
<head>
    <meta charset = "UTF-8">
    <title>室内布局设计</title>
    <link rel = "stylesheet" type="text/css" href="/stylesheets/InnerSpaceDesign.css">
    <script src="/javascripts/three.min.js"></script>
    <script src="/javascripts/LayoutDesignInteraction.js"></script>
</head>

<body>
	<div class = "centerleft">
		<div class = "centerright">
			<div class="centerfloat">
				<button type="button" class="commonbutton">设计</button>
				</br></br>
				<button type="button" class="commonbutton">漫游</button>
				</br></br>
				<button type="button" class="commonbutton">Fuck</button>
		    </div>
			<div id = "designspace" class = "centerfloat" onmousedown="mousedown()" onmouseup="mouseup()"></div>
			<script src = "javascripts/LayoutDesignFramework.js"></script>
		</div>
	</div>
	<script>
	render();
	</script>
</body>
</html>



