<!DOCTYPE HTML>
<html>
<head>
    <meta charset = "UTF-8">
    <title>室内布局设计</title>
    <link rel = "stylesheet" type="text/css" href="/stylesheets/InnerSpaceDesign.css">
    <script src="/javascripts/three.min.js"></script>
    <script src="/javascripts/LayoutDesignInteraction.js"></script>
    <script src = "javascripts/LayoutDesignFramework.js"></script>
</head>

<body>
	<div class = "centerleft">
		<div class = "centerright">
			<div class="centerfloat">
				<button type="button" class="commonbutton">设计</button>
				</br></br>
				<button type="button" class="commonbutton">漫游</button>
				</br></br>
				<button type="button" class="commonbutton">Fuck</button>
		    </div>
			<div id = "designspace" class = "centerfloat" onmousedown="mousedown()" onmouseup="mouseup()"></div>
		</div>
	</div>
	<script>
	window.temp = 1;
	window.temp++;
	console.log("window.temp value: ", window.temp);
	var frame = new Real3D.Frame();
	frame.init();
	frame.run();
	</script>
</body>
</html>



