<!DOCTYPE HTML>
<html>
<head>
    <meta charset = "UTF-8">
    <title>室内设计</title>
    <link rel = "stylesheet" type="text/css" href="/stylesheets/InnerSpaceDesign.css">
    <script src="/javascripts/Dependence/jquery-2.1.3.min.js"></script>
    <script src = "/javascripts/Common/Real3D.js"></script>
    <script src = "/javascripts/InnerSpaceDesign.js"></script>
</head>

<body>
    <div class = "centerleft">
        <div class = "centerright">
            <div class="maincontainer">
                <div id="menu" class="menubar"></div>
                <div id="designSet"></div>
            </div>
        </div>
    </div>
</body>
</html>