<!DOCTYPE HTML>
<html>
<head>
    <meta charset = "UTF-8">
    <title><%= username %></title>
    <link rel = "stylesheet" type="text/css" href="/stylesheets/PersonalHomepage.css">
    <script src="/javascripts/Dependence/jquery-2.1.3.min.js"></script>
    <script src="/javascripts/PersonalHomepage.js"></script>
</head>

<body>        
    <div class="centerleft">
        <div class="centerright">
            <div class="maincontainer">
                <div class="menubar">
                    <div class="menuitem" onclick="logOut()">退出</div>
                </div>
                <div class="pdata">我的数据</div>
                <div class="papp">
                    我的应用
                    <br>
                    <button class="button" onclick="enterInnerSpaceDesignState()">室内设计</button>
                    <button class="button" onclick="enterGeneralDesign()">建模</button>
<<<<<<< HEAD
                    <button class="button" onclick="enterInspector()">材质着色器</button>
=======
                    <button class="button" onclick="enterCageModeling()">Cage建模</button>
>>>>>>> remotes/origin/master
                </div>
            </div>
        </div>
    </div>
</body>
</html>