.centerleft
{
    float: left;
    position: relative;
    left: 50%;
}

.centerleft .centerright
{
    float: left;
    position: relative;
    left: -50%;
}

body
{
    background-color: rgb(220, 220, 220);
    /*display: block;*/
}

.info
{
    text-align: center;
    font-size: 16pt;
    color: rgb(0, 64, 64);
}

.info .parmStrCtl
{
    width: 100px;
    height: 16px;
    background-color: rgb(222, 222, 222);
    font-size: 12pt;
    color: rgb(0, 64, 64);
    vertical-align: middle;
    margin-left: 3px;
}

.info .parmNumCtl
{
    width: 45px;
    height: 16px;
    background-color: rgb(222, 222, 222);
    color: rgb(0, 64, 64);
    vertical-align: middle;
    margin-left: 3px;
}

.info .button
{
    width: 70px;
    height: 32px;
    text-align: center;
    font-size: 16pt;
    border-radius: 8px;
    color: rgb(0, 64, 64);
    background-color: rgb(195, 195, 200);
    vertical-align: middle;
}

.leftContainer
{
    float: left;
    width: 200px;
}

.leftContainer .toolbar
{
    font-size: x-large;
    font-weight: bolder;
    color: rgb(0, 64, 64);
    margin-bottom: 10px;
    cursor: pointer;
}

.leftContainer .text
{
    font-size: x-large;
    font-weight: bolder;
    color: rgb(0, 64, 64);
    margin-bottom: 10px;
}

.leftContainer .topButton
{
    /*margin-bottom: 8px;*/
    margin-right: 8px;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 10pt;
    border-radius: 16px;
    color: rgb(0, 64, 64) ;
    background-color: rgb(195, 195, 200);
}

.leftContainer .appButton
{
    margin-bottom: 10px;
    width: 70px;
    height: 64px;
    text-align: center;
    font-size: 16pt;
    border-radius: 16px;
    color: rgb(0, 64, 64) ;
    background-color: rgb(195, 195, 200);
}

.leftContainer .createCage
{
    font-size: 16pt;
    color: rgb(0, 64, 64);
    border-bottom: 10px;
}

.leftContainer .createCage .parmNumCtl
{
    width: 64px;
    height: 16px;
    background-color: rgb(222, 222, 222);
    color: rgb(0, 64, 64);
    vertical-align: middle;
    margin-left: 10px;
    border-bottom: 10px;
    border-radius: 4px;
}

.leftContainer .createCage .button
{
    width: 70px;
    height: 32px;
    text-align: center;
    font-size: 16pt;
    border-radius: 8px;
    color: rgb(0, 64, 64);
    background-color: rgb(195, 195, 200); 
    vertical-align: middle;
}

.leftContainer .createCage .selectType
{
    font-size: 16pt;
    border-radius: 4px;
    color: rgb(0, 64, 64);
    background-color: rgb(210, 210, 210);
    vertical-align: middle;
}

.leftContainer .editCage
{
    font-size: 16pt;
    color: rgb(0, 64, 64);
    border-bottom: 10px;
}

.leftContainer .editCage .parmNumCtl
{
    width: 64px;
    height: 16px;
    background-color: rgb(222, 222, 222);
    color: rgb(0, 64, 64);
    vertical-align: middle;
    margin-left: 10px;
    border-bottom: 10px;
    border-radius: 4px;
}

.leftContainer .editCage .button
{
    width: 70px;
    height: 32px;
    text-align: center;
    font-size: 16pt;
    border-radius: 8px;
    color: rgb(0, 64, 64);
    background-color: rgb(195, 195, 200); 
    vertical-align: middle;
}

.leftContainer .editCage .applyButton
{
    width: 50px;
    height: 24px;
    text-align: center;
    font-size: 12pt;
    border-radius: 8px;
    color: rgb(0, 64, 64);
    background-color: rgb(205, 205, 205); 
    vertical-align: middle;
}

.mainContainer
{
    float: right;
}
