.centerleft
{
    float: left;
    position: relative;
    left: 50%;
}

.centerleft .centerright
{
    float: left;
    position: relative;
    left: -50%;
}

body
{
    background-color: rgb(222, 222, 222);
    /*display: block;*/
}

.info
{
    text-align: center;
    font-size: 16pt;
    color: rgb(50, 150, 180);
}

.info .parmStrCtl
{
    width: 80px;
    height: 16px;
    background-color: rgb(222, 222, 222);
    color: rgb(64, 128, 128);
    vertical-align: middle;
    margin-left: 3px;
}

.info .parmNumCtl
{
    width: 45px;
    height: 16px;
    background-color: rgb(222, 222, 222);
    color: rgb(64, 128, 128);
    vertical-align: middle;
    margin-left: 3px;
}

.leftContainer
{
    float: left;
    width: 80px;
}

.leftContainer .button
{
    margin-bottom: 10px;
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 16pt;
    border-radius: 16px;
    color: rgb(165, 180, 101) ;
    background-color: rgb(50, 150, 180);
}

.mainContainer
{
    float: right;
}
