.centerleft
{
    float: left;
    position: relative;
    left: 50%;
}

.centerleft .centerright
{
    float: left;
    position: relative;
    left: -50%;
}

body
{
    background-color: rgb(222, 222, 222);
    display: block;
}

.maincontainer
{
    width: 1024px;
}

.maincontainer .menubar
{
    width: 100%
    height: 100px;
}

.maincontainer .menubar .menuitem
{
    font-size: x-large;
    color: rgb(157, 41, 50);
    margin: 20px 0.5%;
    float: right;
    text-decoration: none;
    cursor: pointer;
}

.maincontainer .pinfo
{
    width: 100%;
    font-size: 32px;
    text-align: left;
    line-height: 48px;
    color: rgb(99, 202, 30);
}

.maincontainer .pdata
{
    width: 100%;
    font-size: 32px;
    text-align: left;
    line-height: 48px;
    color: rgb(180, 98, 20);
    margin-top: 32px;
}

.maincontainer .papp
{
    width: 100%;
    font-size: 32px;
    text-align: left;
    line-height: 48px;
    color: rgb(211, 100, 200);
    margin-top: 32px;
}

.maincontainer .papp .button
{
    width: 128px;
    height: 128px;
    text-align: center;
    font-size: 16pt;
    border-radius: 10px;
    color: rgb(65, 80, 101) ;
    background-color: rgb(150, 220, 190);
}